/* GLYPHS */

#button-nav {
	cursor: pointer;

	position: absolute;
	top: 2.25rem;
	left: 2.25rem;
	width: 1.75rem;
	height: 1.75rem;
	padding: 0;
	margin: 0;

	background: none;
	border: 0;
	outline: none;

	opacity: 0;
	pointer-events: none;

	@include transform(translate3d(-50%,-50%,0) rotate(0deg));
	@include transition(opacity 1s, transform 0.125s);

	.loaded & {
		opacity: 0.5;
		pointer-events: auto;

		@include transition(opacity 0.1s, transform 0.125s);

		&:hover,
		&:active {
			opacity: 1;
		}
	}


	.nav-open & {
		opacity: 1;

		@include transform(translate3d(-50%,-50%,0) rotate(-90deg));
	}
}

#button-sounds {
	position: fixed;
	top: 1.25rem;
	right: 1.5rem;

	max-width: 1rem;

	opacity: 0.75;

	@include transition(opacity 0.1s);

	&:hover,
	&:active,
	&:focus {
		opacity: 1;
	}
}

#button-close {
	cursor: pointer;

	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	display: block;

	background: none;
	border: 0;
	outline: none;

	pointer-events: auto;

	opacity: 0.4;
	@include transition(opacity 0.15s);

	&:before,
	&:after {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 4px;
		background: white;

		border-radius: 4px;

		content: '';

		@include transform(translate3d(-50%, -50%, 0));
	}
	&:before {
		@include transform(translate3d(-50%, -50%, 0) rotate(45deg));
	}
	&:after {
		@include transform(translate3d(-50%, -50%, 0) rotate(-45deg));
	}


	&:hover,
	&:active,
	&:focus {
		opacity: 0.875;
	}
}


.planet-nav-arrow {
	cursor: pointer;
	pointer-events: none;

	position: absolute;
	top: 50%;
	width: 4rem;
	height: 4rem;

	background: none;
	border: 0;
	outline: none;

	opacity: 0;

	@include transition(1s);

	&:before {
		position: absolute;
		display: block;

		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		font-size: 1.25em;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.1em;

		color: rgba($gold, 0.75);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		opacity: 0;

		@include transition(0.05s);
	}


	&#planet-left {
		left: 2.25rem;

		border-radius: 0.25em 0 0.25em 0.5em;
		border-left: 3px solid $gold;
		border-bottom: 3px solid $gold;

		@include transform(translate3d(0, -40%, 0) rotate(45deg));

		&:before {
			left: 25%;
			top: -1%;

			@include transform(rotate(-45deg));

			content: 'Previous';
		}
	}
	&#planet-right {
		right: 2.25rem;

		border-radius: 0 0.25em 0.5em 0.25em;
		border-right: 3px solid $gold;
		border-bottom: 3px solid $gold;

		@include transform(translate3d(0, -40%, 0) rotate(-45deg));

		&:before {
			right: 30%;
			top: 22%;

			@include transform(rotate(45deg));

			content: 'Next';
		}
	}

	&.zoomed {
		pointer-events: auto;

		opacity: 0.5;

		@include transition(0.1s);

		&:hover,
		&:active {
			opacity: 1;

			&:before {
				opacity: 1;
			}
		}
	}
}