/* GLYPHS */

#button-nav {
	cursor: pointer;

	position: absolute;
	top: 2.25rem;
	left: 2.25rem;
	width: 1.75rem;
	height: 1.75rem;
	padding: 0;
	margin: 0;

	background: none;
	border: 0;
	outline: none;

	opacity: 0.5;

	@include transform(translate3d(-50%,-50%,0) rotate(0deg));
	@include transition(opacity 0.1s, transform 0.125s);

	&:hover,
	&:active {
		opacity: 1;
	}


	&.nav-open {
		opacity: 1;

		@include transform(translate3d(-50%,-50%,0) rotate(-90deg));
	}
}

#button-close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	display: block;

	pointer-events: auto;

	opacity: 0.4;
	@include transition(opacity 0.15s);

	&:before,
	&:after {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 4px;
		background: white;

		border-radius: 4px;

		content: '';

		@include transform(translate3d(-50%, -50%, 0));
	}
	&:before {
		@include transform(translate3d(-50%, -50%, 0) rotate(45deg));
	}
	&:after {
		@include transform(translate3d(-50%, -50%, 0) rotate(-45deg));
	}


	&:hover,
	&:active {
		opacity: 0.875;
	}
}