/* LOADER */

#load-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	background: url('/img/load-bkg.jpg') no-repeat, $gold;
	background-size: cover;
	background-position: right center;

	font-size: 1rem;

	&:before {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		width: 7.875rem;
		height: 4.75rem;
		z-index: 10;

		// background: $gray-dark;
		background: darken($gold-darkest, 15%);

		border-radius: 0 0 0 0.5rem;
		border-left: 3px solid $gold-dark;
		border-bottom: 3px solid $gold-dark;

		content: '';
	}
	&:after {
		position: absolute;
		display: block;
		top: 1.5em;
		right: 1.5em;
		left: 1.5em;
		bottom: 1.5em;
		z-index: 5;
		
		pointer-events: none;

		border: 6px double $gold-dark;
		border-radius: 1.5em;

		content: '';
	}
}


#load-logo {
	position: absolute;
	left: 50%;
	top: 42.5%;
	height: 100%;
	width: auto;
	@include transform(translate3d(-50%, -50%, 0));

	pointer-events: none;
}

#load-text-container {
	position: absolute;
	top: 56%;
	width: 100%;

	text-align: center;
}

#load-button {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 6rem;
	padding: 1.25em 1.25em 1.25em 1.45em;
	min-width: 24rem;

	background: rgba($gold-dark, 0.25);

	border: 2px solid rgba($gold-darkest, 0.25);
	border-radius: 0.5rem;
	overflow: hidden;

	cursor: default;

	@include transform(translate(-50%, 0));
	@include transition(0.2s);

	@include breakpoint(mobile) {
		width: 72%;
		min-width: auto;
	}

	&:before {
		position: relative;
		z-index: 5;

		content: 'Loading...';
	}
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 0;
		display: block;
		z-index: 3;

		background: rgba($gold, 0.5);

		content: '';
	}

	.begin-animation & {
		&:after {
			@include animation(loading-button 7.25s ease-in-out);
			@include animation-fill-mode(forwards);
		}
	}

	&.loaded {
		// border-color: rgba($gold-darkest, 0.5);
		border-color: rgba(white, 0.75);
		background: rgba($gold-darkest, 0.5);

		cursor: auto;

		&:before {
			content: 'Explore The Galaxy';
		}
		&:after {
			width: 100%;
		}

		&:hover,
		&:active {
			background: rgba($gold-darkest, 0.75);
			border-color: white;
		}
	}
}
@include keyframes(loading-button) {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}



#logo-stroke,
#logo-fill {
	@include transform-origin(1489px 400px);
}
#logo-stroke {
	fill: none;
	stroke: $gold-dark;
	stroke-width: 8px;
	stroke-dasharray: 4500;
	stroke-dashoffset: 4500;

	@include transform(scale(0.2));

	@include breakpoint(mobile) {
		@include transform(scale(0.135));
	}

	.begin-animation & {
		@include animation(logo-stroke-animate 2.5s linear);
		@include animation-fill-mode(forwards);
	}
}
#logo-fill {
	// fill: none;
	fill: white;
	opacity: 0;
	// @include transform(scale(1.5));

	// &.loaded {
	// 	@include animation(logo-fill-animate 2.25s cubic-bezier(.23,.61,.68,.97));
	// 	@include animation-fill-mode(forwards);
	// 	@include animation-delay(1.25s);
	// }
}



// LOADER ANIMATIONS
@include keyframes(logo-stroke-animate) {
	to {
		stroke-dashoffset: 0;
	}
}

@include keyframes(logo-fill-animate) {
	to {
		opacity: 1;
		// @include transform(scale($scale-number));
	}
}