/* MAIN AREAS */

html {
	background: black;

	font-size: 100%;
}


main {
	width: 100%;
	height: 100%;

	background: $gray-dark;
}


#star-map-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	background: url('/img/stars-bright.jpg'), black;
	background-size: 550px auto;

	&:before {
		position: absolute;
		display: block;
		width: 0.75rem;
		height: 100%;
		top: 0;
		right: 100%;

		@include background(linear-gradient(to right, rgba(black, 0) 0%, rgba(black,0.35) 60%, rgba(black, 1) 100%));

		opacity: 0.3;

		content: "";
	}
}
#star-map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#planet-title {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 2.25rem;

	text-align: center;

	@include transform(translateX(-50%));
}


#planet-data-overlay {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 35rem;
	font-size: 1rem;

	background: white;
	border-radius: 0.6rem 0.6rem 0.5rem 0.5rem;

	@include transform(translateX(-50%));

	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		width: 2rem;
		height: 2rem;
		display: block;
		background: $gold-darkest;
		border-radius: 4px;
		z-index: -1;

		@include transform(translate(-50%,-40%) rotate(45deg));

		content: '';
	}

	.planet-data-column {
		padding: 0 1.25rem;
	}
	.planet-films-column {
		padding: 0 1.25rem 1.25rem;

		&:after {
			display: table;
			clear: both;

			content: '';
		}
	}
}

.planet-film {
	float: left;
	width: 15%;
	margin-right: 2%;

	&:last-child {
		margin-right: 0;
	}

	&:before {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($gold-dark, 0.75);
		z-index: 10;

		border-radius: 100%;
		border: 2px solid $gold;

		content: '';

		opacity: 0;
		@include transition(opacity 0.15s);
	}
	&:after {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 15;

		font-family: "freight-display-pro", georgia, sans-serif;
		font-weight: 900;
		font-size: 1.25em;

		color: white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		@include transform(translate(-50%,-50%));

		content: '';
	}

	&#episode1 {
		&:after {
			content: 'I';
		}
	}
	&#episode2 {
		&:after {
			content: 'II';
		}
	}
	&#episode3 {
		&:after {
			content: 'III';
		}
	}
	&#episode4 {
		&:after {
			content: 'IV';
		}
	}
	&#episode5 {
		&:after {
			content: 'V';
		}
	}
	&#episode6 {
		&:after {
			content: 'VI';
		}
	}


	img {
		border: 2px solid $gold;
		border-radius: 100%;
	}


	&:hover {
		&:before,
		&:after {
			opacity: 1;
		}
	}
}