/* NAV FUNCTION */

#star-map {
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;

		z-index: 200;

		pointer-events: none;

		background: black;

		opacity: 0;

		@include transform(translate3d(0,0,0));
		@include transition(opacity 0.15s cubic-bezier(0.47, 0, 0.745, 0.715));

		content: '';
	}

	.nav-open & {
		&:after {
			pointer-events: auto;

			opacity: 0.5;
		}
	}
}