/* NAV */

nav {
	position: relative;
	width: 23rem;
	height: 100%;

	font-size: 1rem;

	.mobile & {
		overflow-y: auto;
	}

	@include breakpoint(mobile) {
		width: 81%;
		@include calc(width, '100% - 4.5rem');

		font-size: 0.85rem;
	}
}

.page-title {
	padding: 1.5rem 1.5rem 1.75rem 1.5rem;
	margin-bottom: 2.25rem;

	background: $gold;
	@include background(linear-gradient(to bottom, $gold-darkest 0%, $gold 75%));

	border-bottom: 1px solid rgba(white, 0.15);

	* {
		z-index: 5;
	}

	&:before {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: block;

		z-index: 2;

		background: url('/img/texture_noise.png');
		background-size: 100px auto;

		opacity: 0.875;

		content: '';
	}
}

.filter-list {
	padding: 0 1.5rem;

	&:last-of-type {
		margin-bottom: 0;
	}
}
.filter-list-single {
	position: relative;
	border-bottom: 1px solid rgba($gold,0.15);

	&:first-of-type {
		border-top: 1px solid $gold-darkest;
	}
	&:last-child {
		border: 0;
	}
}


input[type=checkbox] {
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 1;

	@include appearance(none);
	opacity: 0;
	outline: none;
	cursor: pointer;
}

label {
	cursor: pointer;
	
	display: block;
	padding: 1.4rem 0 1.4rem 2em;

	&:before {
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 5;

		display: block;
		width: 0.8rem;
		height: 0.8rem;
		margin-top: -0.45rem;

		border-radius: 100%;
		border: 2px solid white;

		content: '';
	}
	&:after {
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 3;

		display: block;
		width: 0.8rem;
		height: 0.8rem;
		margin-top: -0.45rem;

		background: black;

		border: 4px solid black;
		border-radius: 100%;

		@include transition(background 0.1s);

		content: '';
	}

	input[type=checkbox]:checked + & {
		&:after {
			background: $gold;
		}
	}
}


.share-buttons {
	padding: 2.5rem 1.5rem 0;
}