/* TEXT SETTINGS */

h1,
h2,
h3 {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern" 1;
    font-kerning: normal;

	font-family: "freight-display-pro", georgia, sans-serif;
	font-weight: 600;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 3.5em;

	color: white;
}

h2 {
	padding: 0.75rem 1.25rem 0.85rem;
	margin-bottom: 1rem;
	position: relative;

	font-size: 3em;

	color: white;

	border-radius: 0.5rem 0.5rem 0 0;
	background: $gold-dark;
	@include background(linear-gradient(to bottom, $gold-darkest 0%, $gold-dark 75%));

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		display: block;
		background: rgba($gold-darkest, 0.35);

		content: '';
	}
}

h3 {
	font-size: 2.75em;

	color: $gold;

	text-shadow: 0 0 10px black;
}

.load-text {
	display: block;
	padding-left: 0.04em;

	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 0.9em;
	letter-spacing: 0.04em;
	line-height: 1.3;

	color: $gold-darkest;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	a {
		display: inline-block;
		border-bottom: 2px solid rgba($gold-darkest,0.3);

		color: $gold-darkest;
		text-decoration: none;
		
		@include transition(border-color 0.1s);

		&:hover {
			border-color: $gold-darkest;
		}
	}
}


.description {
	display: block;

	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 0.9em;
	letter-spacing: 0.2em;
	line-height: 1.2;

	color: $gold-darkest;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.filter-title {
	display: block;
	padding-bottom: 1.1rem;

	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 0.75em;
	letter-spacing: 0.05em;

	color: $gold-darkest;
}

label {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.025em;

	color: rgba(white,0.5);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include transition(color 0.1s);

	&:hover {
		color: rgba(white,0.65);
	}

	input[type=checkbox]:checked + & {
		color: white;
	}
}


.social-share {
	display: block;
	margin-bottom: 1.25em;
	padding: 0.875em 0;

	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 0.875em;
	letter-spacing: 0.1em;

	color: $gold-dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	text-decoration: none;

	border: 2px solid rgba($gold-darkest, 0.75);
	border-radius: 0.5rem;

	@include transition(0.2s);

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		color: $gold;
		border-color: $gold-dark;
	}
}


.site-credits {
	display: block;
	padding: 3.5rem 1.5rem 1.5rem 1.5rem;

	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.75em;
	line-height: 1.5;

	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	opacity: 0.3;

	a {
		color: white;
		text-decoration: underline;
		font-weight: 900;
	}
}


.planet-data-text {
	display: block;
	margin-bottom: 0.6em;
	float: left;
	width: 50%;

	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 0.85em;
	letter-spacing: 0.075em;

	color: rgba($gray-dark, 0.6);

	.planet-data-value {
		color: $gold-darkest;
		font-weight: 900;
	}

	&:last-child {
		clear: both;
		float: none;
		width: 100%;

		padding-bottom: 1.1rem;
		border-bottom: 1px solid $gold-dark;
		margin-bottom: 1.25rem;
	}
}


