/* Z-INDEX & LAYERS */

#button-nav,
#button-sounds {
	z-index: 1000;
}

#classic-wipe {
	z-index: 200;
}

#load-overlay {
	z-index: 175;
}

#long-ago {
	z-index: 150;
}
#button-close {
	z-index: 125;
}
#planet-data {
	z-index: 100;
}
#planet-title {
	z-index: 75;
}
#star-map {
	z-index: 50;
}


nav {
	z-index: 1;
}